body {
    background: rgb(255,204,203);
}

div.foto_houder {
    box-sizing: border-box;
    height: 450px;
    width: 300px;
    float: left;
    background-color: red;
    border: 1px solid black;
}

#fotos {
    width: 900px;
    height: 1350px;
    border: 2px solid black;
    margin: auto;
}

div.favoriet {
    width: 300px;
    height: 150px;
    background-color: red;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
}

audio {
    left: auto;
    position: absolute;
}

h1, h3 {
    text-align: center;
}
